<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicacion</title>

    {% load django_bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
  </head>
  <body>
    <!--Menú de navegación -->
    {% include 'estructura/menu.html' %}

    <header></header>

    <main>
      {% block contenido %}
      
      {% endblock %}
  </main>
  

    <footer>
        <!-- Pie de página -->
        {% include 'estructura/footer.html' %}
    </footer>
  </body>
</html>
